apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubeadm.kubernetes.io/etcd.advertise-client-urls: https://{{ ansible_default_ipv4.address }}:2379
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --name={{ inventory_hostname }}
    - --cert-file=/etc/kubernetes/pki/etcd/kubernetes.pem
    - --key-file=/etc/kubernetes/pki/etcd/kubernetes-key.pem
    - --peer-cert-file=/etc/kubernetes/pki/etcd/kubernetes.pem
    - --peer-key-file=/etc/kubernetes/pki/etcd/kubernetes-key.pem
    - --trusted-ca-file=/etc/kubernetes/pki/etcd/ca.pem
    - --peer-trusted-ca-file=/etc/kubernetes/pki/etcd/ca.crt
    - --peer-client-cert-auth=true
    - --initial-advertise-peer-urls=https://{{ ansible_default_ipv4.address }}:2380
    - --listen-peer-urls=https://{{ ansible_default_ipv4.address }}:2380
    - --listen-client-urls=https://127.0.0.1:2379,https://{{ ansible_default_ipv4.address }}:2379
    - --advertise-client-urls=https://{{ ansible_default_ipv4.address }}:2379
    - --client-cert-auth=true
    - --initial-cluster-token etcd-initial-token
    - --initial-cluster {% for host in groups['all'] -%}{{ hostvars[host]['inventory_hostname'] }}=http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2380{%- if not loop.last -%},{%- endif -%}{%- endfor %}

    - --data-dir=/var/lib/etcd
    - --listen-metrics-urls=http://127.0.0.1:2381
    - --snapshot-count=10000
    image: k8s.gcr.io/etcd:3.4.3-0
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /health
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 15
      timeoutSeconds: 15
    name: etcd
    resources: {}
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: etcd-data
    - mountPath: /etc/kubernetes/pki/etcd
      name: etcd-certs
  hostNetwork: true
  priorityClassName: system-cluster-critical
  volumes:
  - hostPath:
      path: /etc/etcd
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
    name: etcd-data
status: {}